<footer class="d-flex justify-content-start ms-3 mt-4 mb-3">
    <img src="https://cdn.blablacar.com/kairos/assets/images/logo_blablacar_whitebg_01-83b62417b8605e424242..svg" alt="BlaBlaCar, 2023 ©" height="27px" width="32px" loading="eager" decoding="async">
    <p class="text-secondary ms-3">BlaBlaCar, 2023 ©</p>
</footer>

