<h1>Create a new User</h1>

<form action="/users/new" method="POST">
    <div class="mb-3">
      <label for="user" class="form-label">User</label>
      <input type="text" name="user" id="user" class="form-control" placeholder="User Name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>