<h1>{{currentUser.user}}</h1>

<a href="/photo">Edit Profile Photo</a>

<a href="/profile">Edit Personal Info</a>

<h1>You have a Verify Profile</h1>
<li>DNI</li>
<li>{{currentUser.email}}</li>
<li>Phone number</li>


<h1>Additional info</h1>