<h1>{{currentUser.user}}</h1>
<div>
  <img class="rounded-circle" src="{{currentUser.image}}" alt="profile" width="240px" height="240px">
</div>

<a href="/photo">Edit Profile Photo</a>

<a href="/profile/{{currentUser.id}}/edit">Edit Personal Info</a>

<h1>You have a Verify Profile</h1>
<li>DNI</li>
<li>{{currentUser.email}}</li>
<li>Phone number</li>
<h1>Additional info</h1>
