<h1>Your future travel plans will appear here.</h1>




<p>Find the perfect ride from thousands of destinations, or publish to share your travel costs.</p>

{{#each currentUser.adquiredTrips as |trip|}}
<li>{{trip.from}}</li>
{{/each}}