<h1>List of trips</h1>
<div class="d-flex align-items-center flex-column">
  {{#each trips as |trip|}}
    <a
      class="card mb-2 border-1 rounded-4 shadow nav-link"
      style="width: 90%;"
      href="/trips/link"
    >
      <div class="card-body">
        <li>{{trip.from}}</li>
        <li>{{trip.to}}</li>
        <li>Price: {{trip.price}}€</li>
        <li>{{trip.user}}</li>
      </div>
    </a>
  {{/each}}
</div>